PORT=3000
CORS_ORIGIN=http://localhost:5173

AUTH_SERVICE_URL=http://localhost:3001
COMPANY_SERVICE_URL=http://localhost:3002
DRIVER_SERVICE_URL=http://localhost:3003
FLEET_SERVICE_URL=http://localhost:3004
MANIFEST_SERVICE_URL=http://localhost:3005
TRIPSHEET_SERVICE_URL=http://localhost:3006
ACCOUNTING_SERVICE_URL=http://localhost:3007
NOTIFICATION_SERVICE_URL=http://localhost:3008
